---
---
<div class='min-h-20 w-full border-t-2 border-zinc-200 dark:border-zinc-600 backdrop-blur-sm flex flex-col md:flex-row justify-center items-center gap-4 py-4 px-2 bg-zinc-100 dark:bg-zinc-800'>
    <div class='flex flex-col md:flex-row items-center gap-2 md:gap-4'>
        <p class='text-zinc-700 dark:text-zinc-300 text-center text-s'>Francisco Bermejo Melero</p>
    </div>
    <div class='flex gap-4 mt-2 md:mt-0'>
        <a href='https://github.com/FRANCISCO-BERMEJO-MELERO' class='hover:scale-110' target='_blank' rel='noopener noreferrer'>
        <img src="/icons/github-light.svg" alt="GitHub" class='w-5 h-5 filter invert-0 dark:invert' />
        </a>
        </a>
        
        <a href='https://www.linkedin.com/in/francisco-bermejo-melero-250669302/' class='hover:scale-110' target='_blank' rel='noopener noreferrer'>
            <img src='/icons/linkedin.svg' alt='LinkedIn' class='w-5 h-5' />
        </a>
    </div>
</div>
